<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./css/blogs.css">

</head>

<body>
    <header>

        <div class="logo-search">
            <a href="/dashBoard"><img src="../imgs/ambedkar-university-sklm.jpg" alt="logo" class="logo" /></a>
            <input type="search" name="search" id="search-bar" placeholder="search">
        </div>

        <div class="nav-bar">

            <div class="write">

                <a href="/write-post"> <img src="./imgs/icons8-pen-nib-32.png" alt="write icon"
                        id="write-icon">write</a>
            </div>
            <div class="notification">
                <a href="#"><img src="./imgs/icons8-notification-50.png" alt="notification icon"
                        id="notification-icon"></a>
            </div>
            <div class="profile">
                <!-- <img src="./imgs/icons8-avatar-50.png" alt="profilepic" id="avatar"> -->
                <% if (profilePicData) { %>

                    <img src="data:<%= profilePicMimeType %>;base64,<%= profilePicData.toString('base64') %>"
                        id="avatar" alt="profile pic">
                    <% } else { %>

                        <img src="./imgs/avatar.jpg" id="avatar" alt="profilepic">
                        <% } %>
            </div>
        </div>
    </header>

    <%- include("../views/blogs-container") %>


        <div class="footer">
            <ul>
                <li>
                    <a href="/">Home</a>
                </li>
                <li>
                    <a href="/">university portal</a>
                </li>
                <li>
                    <a href="/">Privacy Policy</a>
                </li>
                <li>
                    <a href="/">about</a>
                </li>
                <li>
                    <a href="/">Contact</a>
                </li>
            </ul>
            <p>Dr Brau university ,srikakulam </p>
            <p>@copyrights reserved</p>
        </div>
</body>

</html>