<header>

    <div class="logo-search"> <img src="../imgs/ambedkar-university-sklm.jpg" alt="logo" class="logo" />
        <input type="search" name="search" id="search-bar" placeholder="search">
    </div>

    <div class="nav-bar">

        <div class="write">

            <a href=""> <img src="./imgs/icons8-pen-nib-32.png" alt="write icon" id="write-icon">write</a>
        </div>
        <div class="notification">
            <a href="#"><img src="./imgs/icons8-notification-50.png" alt="notification icon" id="notification-icon"></a>
        </div>
    </div>
</header>