<html lang="en">

<head>

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>University web portal</title>
  <link rel="stylesheet" href="./css/index.css">

</head>

<body>

  <!-- headers -->

  <div class="header">
    <img src="ambedkar-university-sklm.jpg" id="logo">
    <h2>Dr Brau</h2>



  </div>

  <div class="info">

    <div class="shape">

    </div>

    <p class="topic">Your Academic Space</p>

    <h2>Navigate your success <br> story with ease</h2>
    <br>
    <p><b>Students</b>, check your grades and reserve library books effortlessly</p>
    <br>
    <p><b>Faculty</b>, manage results and guide students with ease</p>
    <br>
    <p> This is where learning meets convenience for both students and educators</p>
    <h3> Welcome to your dedicated academic portal</h3>
  </div>

  <div class="login">
    <a class="signInbtn" href="/login" id="signin">Login</a>


  </div>

  <div class="container">

    <div class="results">

      <article class="resultsContent">
        <div class="resultsPics"> <img src="results.jpg" class="resultsimg1" alt="">
          <img src="results1.jpg" class="resultsimg2" alt="">
        </div>

        <div class="resultsHeader">
          <p style="color:rgb(14, 11, 11)">You can view results of every semester here......</p>
        </div>

        <div class="resultsbtn">
          <p>Click here to view results</p>
          <a href="/results">View Results</a>
        </div>

      </article>
    </div>
    <div class="libReserve">
      <article class="libReserveContent">
        <div> <img src="lib1.jpg" class="libimg1" alt="">
          <img src="lib.jpg" class="libimg2" alt="">

        </div>

        <div class="libHeader">
          <p style="color:rgb(14, 11, 11)">You can reserve library books here......</p>
        </div>

        <div class="libbtn">
          <p>Click here to reserve a book</p>
          <a href="/login">Reserve Books</a>
        </div>
      </article>
    </div>
    <div class="blogs">


      <button class="blogbtn">Blogs</button>
      <h2 class="major hidden"> majaor work</h2>
    </div>
  </div>

  <footer>
    <div class="footer">
      <h3>copyright@Dr.B.R Ambedkar University,Srikakulam</h3>
      <h4>Designed and developed by BVR</h4>
    </div>
  </footer>
  <script src="./js/index.js"></script>

</body>

</html>