<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <!-- <meta http-equiv="refresh" content="5"> -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>book reservation</title>
    <link rel="stylesheet" href="./css/libBookReservation.css">
</head>

<body>

    <div class="container ">
        <div class="msg hidden">you reserved your book successfully</div>
        <h1 class="search-header " style="color:black;">Search Your Books <br> Down Here..</h1>
        <div class="search-bar">

            <input type="search" id="search" placeholder="Search a book" class="searchInput">
            <button class="searchbtn"><img src="searchicon1.png" alt=""></button>

        </div>
        <div class="book-container hidden"></div>


        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

        <script src="./js/libBookReservation.js">
        </script>
</body>

</html>