<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <!-- <meta http-equiv="refresh" content="5"> -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>book reservation</title>
    <link rel="stylesheet" href="./css/libBookReservation.css">
</head>

<body>
    <div class="dropdown">


        <img src="./imgs/menu-outline.svg" class="dropdown-btn" alt="dropDownbtn" class="menuicon">


        <div class="dropdown-features">
            <a href="/settings" class="settings">⚙ Platform settings</a>
            <a href="/logout">↩ Sign Out</a>

        </div>
    </div>
    <div class="overlay hidden"></div>

    <div class="container ">
        <div class="msg hidden">you reserved your book successfully</div>
        <h1 class="search-header " style="color:black;">Search Your Books <br> Down Here..</h1>
        <div class="search-bar">

            <input type="search" id="search" placeholder="Search a book" class="searchInput">
            <button class="searchbtn"><img src="./imgs/searchicon1.png" alt=""></button>

        </div>
        <div class="book-container hidden"></div>
    </div>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

    <script src="./js/libBookReservation.js">
    </script>
</body>

</html>