<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .form2 {

            width: 28em;
            max-width: 80%;
            margin: auto;
            border-radius: 20px;
            background-color: #dbd1d1;
            padding: 40px;
            height: 100%;
            opacity: 1;


            filter: drop-shadow(0 0 10px #e4ce0ee6);
        }

        /* 
    .form2:not(.box-2)) {
        margin-top: 50%;
    } */

        label:not(.piclabel) {
            color: black;
            display: block;
            margin: auto;

        }

        input:not(#pic) {
            display: block;
            margin: 16px 0;
            min-width: 100%;
            height: 40px;
            background-color: #f0f3f3;
            border-radius: 20px;
            border: none;
            padding: 10px;






        }

        button:hover {
            background-color: rgb(194, 135, 87);


            cursor: pointer;
            color: #f0f3f3;


        }

        button:not(.dropdown-btn) {
            display: block;
            /* margin: 16px 0; */

            /* height: 40px; */
            background-color: #f0f3f3;
            border-radius: 20px;
            border: none;
            padding: 10px;
            font: bold;
            min-width: 30%;
            max-width: 100%;
            font-size: 15px;
            color: #0a0a09;

        }

        @media (max-width:1100px) {

            .form2 {
                flex-direction: column;

                align-items: center;


                min-width: 70%;
            }



        }
    </style>
</head>

<body>
    <div class="form2" style="width: 30%;margin-top: 50px;">
        <form id="changePasswd" action="/resetPassword" method="post">

            <h3>Change Password</h3>

            <div class="">
                <label for="email">Enter your username OR email id:</label>
                <input type="text" id="email" name="email" required>
            </div>
            <div>
                <label for="npasswd">Enter Your New Password:</label>
                <input type="password" id="npasswd" name="npasswd">

            </div>


            <button type="submit">Reset Password</button>
        </form>
    </div>

</body>

</html>