<html lang="en">

<head>
    <title>Results</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <style>
        .header {
            padding: 5px;
            text-align: center;
            background: #FFFFC2;
            color: #F4A460;
        }

        img {
            width: 120px;
            height: 120px;
            margin: 10px 2px;
            border-radius: 60px;
            position: absolute;
            left: 2%;
            top: 1.2%;
        }

        /* Increase the font size of the h1 element */
        .header h1 {
            font-size: 30px;
        }

        .header p {
            font-size: 20px;
        }

        .options {
            display: flex;
            justify-content: center;
            gap: 60px;
            padding: 40px;

        }

        .options button {
            width: max-content;
            background-color: #4388b6;
            padding: 20px;

        }

        .options button:hover {
            cursor: pointer;
            background-color: #6e98b4;
        }

        .results {

            padding: 100px;
        }

        #results {
            display: flex;
            justify-content: center;
            gap: 30px;
            font-size: 20px;
        }

        #results input {
            padding: 10px;
        }

        table,
        th,
        td {
            border: 1px solid rgb(15, 11, 11);

        }

        td:nth-child(1) {
            color: #f34f44;
        }


        #results-table2 {

            text-align: center;
        }

        @media print {
            #printButton {
                display: none;
            }

            #results {
                display: none;
            }
        }

        #printButton {
            margin-top: 30px;
        }
    </style>

</head>

<body>

    <div class="header">
        <img src="./imgs/ambedkar-university-sklm.jpg">
        <h1>Dr.B.R Ambedkar University,Srikakulam</h1>
        <p>College of Engineering.</p>
        <p>Btech Semeter Results</p>
    </div>

    <div class="results" align="center">
        <div class="options">
            <button>Regular Semester Results</button>
            <button>Supplymentary Results</button>
        </div>
        <form action="/studentMarksDetails" method="POST" id="results">
            <label>Semester:<input name="sem" type="integer"></label>
            <label>Hall Ticket:<input name="registrationNumber" type="integer"></label>
            <button>Submit</button>
        </form>
        <div id="tableDiv" style="display: none;">

            <table style="width:40%; text-align: left;" id="results-table1">
                <thead>
                    <h3>Student Details</h3>
                </thead>
                <!-- <div class="sdetails"> -->
                <tr>
                    <th>Registration Number</th>

                    <th>Student Name</th>

                    <th>sGPA</th>
                </tr>
                <!-- </div> -->
                <!-- <tr>
                    <td>Registration number:</td>
                    <td style="width:30%"> </td>
                </tr>
                <tr>
                    <td>StudentName:</td>
                    <td style="width:30%"> </td>
                </tr>
                <tr>
                    <td>semNo:</td>
                    <td style="width:30%"> </td>
                </tr>
                <tr>
                    <td>SGPA</td>
                    <td style="width:30%"> </td>
                </tr> -->
            </table>
            <br>
            <br>


            <table style="width:40%" id="results-table2">
                <thead>
                    <h3>Subject Wise Grade Points</h3>
                </thead>
                <tr>
                    <th>Subject Code</th>
                    <th> Subject Name</th>
                    <th> Grade points</th>
                </tr>
                <!-- <tr>
                    <td>Formal Languages and Automata Theory</td>
                    <td style="width:30%"> </td>
                </tr>
                <tr>
                    <td>Network Security</td>
                    <td style="width:30%"> </td>
                </tr>
                <tr>
                    <td>Web Technologies</td>
                    <td style="width:30%"> </td>
                </tr>
                <tr>
                    <td>Design and Analysis of Algorithms</td>
                    <td style="width:30%"> </td>
                </tr>
                <tr>
                    <td>Machine Learning</td>
                    <td style="width:30%"> </td>
                </tr>
                <tr>
                    <td>Computer Graphics</td>
                    <td style="width:30%"> </td>
                </tr> -->
            </table>
            <button id="printButton">Print Results</button>
        </div>
    </div>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/lodash@4.17.15/lodash.min.js"></script>
    <script>
        function studentResults() {
            document.getElementById('results').addEventListener('submit', async (event) => {
                event.preventDefault();
                await axios.post("/studentDetails", new URLSearchParams(new FormData(event.target))
                ).then((response) => {
                    // sample data
                    console.log(response.data);
                    if (response.data.length == 0) {
                        alert("invalid input");
                        document.getElementById('tableDiv').setAttribute('style', 'display:none;')
                    }
                    else {

                        // table1
                        const results_table1 = document.getElementById('results-table1');
                        const results_table1_length = results_table1.rows.length;
                        for (let i = 0; i < results_table1_length; i++) {
                            results_table1.deleteRow(0);
                        }
                        Object.keys(response.data[0]).forEach(
                            (key) => {
                                const row = results_table1.insertRow();
                                const detailName = row.insertCell(0);
                                detailName.textContent = _.startCase(key);
                                const detailValue = row.insertCell(1);
                                detailValue.textContent = response.data[0][key];
                            }
                        )
                        document.getElementById('tableDiv').setAttribute('style', 'display:show;')
                    }
                })
                    .catch((err) => { console.log(err) })

                // table2
                await axios.post("/studentMarksDetails", new URLSearchParams(new FormData(event.target))
                ).then((response) => {
                    // sample data
                    console.log(response.data)
                    if (response.data.length == 0) {
                        // alert("invalid input");
                        document.getElementById('tableDiv').setAttribute('style', 'display:none;')
                    }
                    else {
                        // table2
                        const results_table2 = document.getElementById('results-table2');
                        const results_table2_length = results_table2.rows.length;
                        for (var i = 0; i < results_table2_length - 1; i++) {
                            results_table2.deleteRow(-1);
                        }
                        response.data.forEach(
                            (subject) => {
                                const subject_name = subject.subjectName.slice(3);
                                const subject_code = subject.subjectName.slice(0, 3)
                                const row = results_table2.insertRow();
                                const subjectCode = row.insertCell(0);
                                subjectCode.textContent = subject_code
                                const subjectName = row.insertCell(1);
                                subjectName.textContent = subject_name;
                                const gradePoints = row.insertCell(2);
                                gradePoints.textContent = subject.gradePoints;

                            }
                        )

                        document.getElementById('tableDiv').setAttribute('style', 'display:show;')
                    }

                })
                    .catch((err) => { console.log(err) })

            })
        }
        studentResults();
    </script>
    <script>

        document.getElementById("printButton").addEventListener("click", function () {
            // Open the print dialog when the button is clicked
            window.print();
        });
    </script>

</body>

</html>