* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Courier New', Courier, monospace;
}

header {
  display: flex;

  width: 100%;
  border-bottom: 1px solid #ddd;
  padding: 20px;
}
.logo-search {
  width: 80%;
  display: flex;
  gap: 10px;
  flex-direction: row;
}
#search-bar {
  /* width: 20px; */
  height: 40px;
  padding: 20px;
  align-self: center;
  border-radius: 30px;
}
#write-icon,
#notification-icon {
  width: 30px;
}

img.logo {
  width: 50px;
  /* padding-top: 10px; */
  align-self: center;
}

.nav-bar {
  display: flex;
  width: auto;
  gap: 40px;
  font-size: 18px;
}
.nav-bar a {
  text-decoration: none;
  color: black;
  font-size: 18px;
}
.write,
.notification {
  align-self: center;
}
.header::after {
  content: '';
  display: table;
  clear: both;
}

.container {
  margin: 40px 22%;
}
.container h2 {
  padding: 20px;
}

.user {
  display: flex;
  align-items: center;
  padding: 20px;
}
.user > p,
span {
  padding: 0 10px;
}
.tools {
  display: flex;
  justify-content: right;
  align-items: center;
  border-bottom: 1px solid black;
  padding: 20px;
  /* align-content: center; */
}
.tools > p {
  border: none;
  background: beige;
  padding: 5px;
  margin-right: 20px;
}
.tools > span {
  font-size: 30px;
  font-weight: 700;
  margin-right: 20px;
}
.tools span:hover {
  cursor: pointer;
}

.content {
  padding-top: 30px;
}
@media only screen and (max-width: 780px) {
  .container {
    margin: 20px;
  }
}
@media screen and (max-width: 480px) {
  /* .blogsFront {
      display: grid;
      grid-template-columns: auto;
      grid-template-rows: auto;
    } */
  img.logo {
    display: block;
    width: 40px;
    margin: 10px auto 0;
    float: none;
  }
  header {
    gap: 20px;
  }
  #write-icon,
  .write {
    display: none;
  }
  #notification {
    gap: 20px;
    align-self: right;
  }

  .blog {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
  }
  .footer {
    /* display: none; */
  }

  .blogs {
    width: 100%;
  }
  .saved-list {
    display: none;
  }
}
