*,
*::after,
*::before {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-image: linear-gradient(
    90deg,
    rgba(56, 166, 199, 0.6),
    rgb(117, 142, 148)
  );
}

#logo {
  border-radius: 50%;
  width: 40px;
  margin-top: 20px;
  margin-left: 40px;
}

.header {
  padding: 15px;
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
}

.header h2 {
  display: inline-block;
  position: absolute;
  top: 25;
  margin-top: 2px;
  margin-left: 5px;
  margin-top: 25px;
  color: rgb(0, 0, 0);
}

nav {
  display: flex;
  align-items: center;
}

nav a {
  color: white;
  text-decoration: none;
  font-size: 20px;
  margin: 0 15px;
  margin-right: 60px;
  /* Adjust the margin as needed */
}

.topic {
  font-size: 15px;
}

.info,
.libraryFeatures,
.blogs,
.uploadResults {
  font-family: 'Courier New', Courier, monospace;
  /* font-size: 25px; */
  color: rgb(5, 64, 78);
  margin-top: 15%;
  margin-left: 10%;
  margin-bottom: 20%;
}

.info h2 {
  padding: 10px;
  font-family: 'Courier New', Courier, monospace;
  font-size: 40px;

  color: rgb(82, 103, 219);
}

.letsGo {
  border: 1px solid rgb(108, 70, 211);
  width: 20%;
  height: 40px;
  padding: 10px;
  margin-top: 20px;
  margin-bottom: 10px;
  background-color: rgb(108, 70, 211);
}

.shape {
  width: 160px;
  height: 160px;
  border-radius: 40% 40% 50% 50%/30% 40% 50% 50%;
  background-color: rgb(111, 125, 206);
  position: absolute;
  right: 0;
  top: 40.3%;
  margin-right: 20%;
}

.username {
  position: absolute;
  right: 0;
  top: 40.3%;
  margin-right: 20%;
}

.username p {
  font-size: 30px;
  color: aquamarine;
  margin: 20px 20px;
}

.libraryFeatures,
.blogs,
.uploadResults {
  border-top: 1px solid black;
  margin-bottom: 20%;
}

.libraryFeatures h2 {
  padding: 10px;
  margin-top: 10%;
  font-family: 'Courier New', Courier, monospace;
  font-size: 40px;

  color: rgb(82, 103, 219);
}

.uploadResults h2 {
  padding: 10px;
  margin-top: 10%;
  font-family: 'Courier New', Courier, monospace;
  font-size: 40px;

  color: rgb(82, 103, 219);
}

.blogs h2 {
  padding: 10px;
  margin-top: 10%;
  font-family: 'Courier New', Courier, monospace;
  font-size: 40px;

  color: rgb(82, 103, 219);
}

.options {
  display: flex;
  justify-content: center;
  gap: 40px;
  margin-top: 40px;
}

.options .uploadBooks {
  width: max-content;
  text-align: center;
  font-size: 20px;

  border: 1px solid rgb(108, 70, 211);
  padding: 10px;
  background-color: rgb(130, 164, 207);
}

.options .uploadResultsBtn {
  width: max-content;
  text-align: center;
  font-size: 20px;

  border: 1px solid rgb(108, 70, 211);
  padding: 10px;
  background-color: rgb(130, 164, 207);
}

.options a {
  text-decoration: none;
  color: white;
}

.options .reservedBooks {
  width: max;
  text-align: center;
  font-size: 20px;

  border: 1px solid rgb(108, 70, 211);
  padding: 10px;
  background-color: rgb(65, 105, 180);
}

@media (max-width: 900px) {
  nav a {
    margin-right: auto;
  }

  .username,
  .shape {
    display: none;
  }
}
