* {
  box-sizing: border-box;
}

body {
  background-image: linear-gradient(
    90deg,
    rgba(56, 166, 199, 0.6),
    rgb(117, 142, 148)
  );
}

.form1,
.form2 {
  min-width: 50%;
  max-width: 70%;

  border-radius: 20px;
  background-color: #91c7b9;
  padding: 40px;
  flex: 2 2 200px;

  /* box-shadow: 0 0 10px #e6e1e0e6; */
}

.form3 {
  min-width: 50%;
  max-width: 70%;

  border-radius: 20px;
  background-color: #91c7b9;
  padding: 40px;
  flex: 2 2 200px;
}

/* 
.form2:not(.box-2)) {
    margin-top: 50%;
} */

label:not(.piclabel) {
  color: black;
  display: block;
  margin: auto;
}

input:not(#pic) {
  display: block;
  margin: 16px 0;
  min-width: 100%;
  height: 40px;
  background-color: #f0f3f3;
  border-radius: 20px;
  border: none;
  padding: 10px;
}

button:hover {
  background-color: rgb(194, 135, 87);

  cursor: pointer;
  color: #f0f3f3;
}

button:not(.dropdown-btn) {
  display: block;
  /* margin: 16px 0; */

  /* height: 40px; */
  background-color: #f0f3f3;
  border-radius: 20px;
  border: none;
  padding: 10px;
  font: bold;
  min-width: 30%;
  max-width: 100%;
  font-size: 15px;
  color: #0a0a09;
}

.header {
  width: 100%;
  max-width: 200%;
  height: 80px;
  background-color: #f8fafa;
  display: flex;
  align-items: right;

  justify-content: space-between;
  /* margin-bottom: 50px; */
  border-radius: 20px;
}

#logo {
  width: 70px;
  height: 70px;
  margin: 2px 2px;
  border-radius: 50px;
  position: absolute;
  left: 2%;
  top: 1.2%;
}

#profilepic {
  width: 120px;
  height: 120px;
  border: 1px solid black;
  border-radius: 60%;
  object-fit: cover;
}

.piclabel {
  /* min-width: 10%; */
  width: max-content;
  display: block;
  padding: 10px 20px;
  background-color: #f0f3f3;
  color: black;
  cursor: pointer;
  border: none;
  border-radius: 20px;
}

.piclabel:hover {
  color: #b46e06;
}

#pic {
  display: none;
  /* position: absolute;
    bottom: -10%;
    left: 2;
    opacity: 1;
    cursor: pointer; */
}

#picSave {
  display: inline;
}

#avatar {
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-top: 15px;
  object-fit: cover;
}

span {
  margin-top: 0px;
  margin-right: 60px;
}

.navbar a {
  float: left;

  color: black;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
}

.navbar :hover {
  background-color: aliceblue;
  color: black;
  text-decoration: none;
  border-radius: 10px;
}

.settings {
  /* position: absolute;
    right: 15%;
    margin-top: 7px; */

  font-size: 25px;
}

.settings {
  position: relative;
}

.dropdown-btn:hover {
  cursor: pointer;
}

.dropbtn {
  border: none;
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  right: 70%;
  background-color: #76cfaa;
  min-width: 250px;
  /* border: 2px solid black; */
  border-radius: 20px;
  /* box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2); */
  z-index: 1;
}

.dropdown-content a {
  color: rgb(255, 254, 254);
  /* padding: 12px 16px; */
  text-decoration: none;
  display: block;
  font-size: 20px;
}

.dropdown-content a:hover {
  color: #504e4e;
}

#dbicon {
  width: 30px;
}

#dbicon:hover {
  cursor: pointer;
  background-color: #504e4e;
}

.active {
  background-color: rgb(221, 199, 127);
  color: white;
}

.container {
  display: flex;
  justify-content: space-around;
  gap: 6%;
  margin: 20px;
}

.box-1 {
  border: 2px solid rgb(7, 115, 151);
  background-color: #91c7b9;

  height: 160px;

  width: 30%;

  border-radius: 20px;
  display: inline-block;
}

.box-1 button {
  position: relative;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 20px;
  /* display: inline-block; */
}

.box-1 button:hover {
  background-color: #077397;
}

.active {
  background-color: rgb(7, 115, 151);
}

.studentInfo {
  display: flex;
  justify-content: space-between;
  gap: 10%;
}

.box-2 {
  background-color: #91c7b9;
  border: 2px solid rgb(7, 115, 151);
  border-radius: 20px;
  min-width: 65%;
  /* height: 40em; */
  max-height: 100em;
}

.box-3 {
  border-radius: 20px;
  /* border: 1px solid black; */
  height: 20em;
  width: 60%;
}

.box-4 {
  background-color: #91c7b9;
  border: 2px solid rgb(7, 115, 151);
  border-radius: 20px;
  padding: 20px;
  width: 68%;
  /* height: 40em; */
  max-height: 100em;
  /* text-align: center; */
  overflow: hidden;
  overflow-y: scroll;
  overflow-x: scroll;
}

.features {
  display: flex;
  justify-content: center;
  gap: 2%;
  margin: 20px 0;
}

.completedBtn {
  background-color: rgb(19, 180, 180);
}

.rejectedBtn {
  background-color: #c76565;
}

.reservedBtn {
  background-color: #4383be;
}

.date {
  margin-left: 20px;
  width: 20%;
}

.reason {
  width: 180%;
  grid-row-end: 2 / span 2;
}

.reason h2 {
  color: #c76565;
}

.reason p {
  color: #000000;
  font-size: 18px;
}

.completedBtn:hover {
  background-color: #06eeee;
}

.rejectedBtn:hover {
  background-color: rgb(231, 15, 15);
}

.reservedBtn:hover {
  background-color: rgb(17, 114, 204);
}

.bookCover {
  margin-top: 20px;
  margin-bottom: 20px;
  width: 30%;
  height: 70%;
}

.books {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 98%;
  margin: 20px 20px;
  border: 1px solid black;
  padding: 20px;
  /* gap: 25px; */
}

.bookInfo {
  display: block;
  margin: 20px;
  width: max-content;
}
.bookInfo img {
  width: 50%;
}

.bookInfo h4 {
  /* display: block; */
  margin: 0;
  color: rgb(72, 112, 112);
}

.bookInfo p {
  margin: 0;
  display: inline-block;
  padding-left: 20px;
}
.date {
  width: 50%;
}

.date p {
  color: rgb(75, 28, 28);
}

.bookDetails {
  color: black;
}

.showDetails,
.hideDetails {
  display: none;
}

a:not(.dropdown-content) {
  display: grid;
  /* margin: 16px 0; */

  /* height: 40px; */
  /* background-color: #f0f3f3; */
  border-radius: 20px;
  border: none;
  padding: 10px;
  font: bold;

  width: 70%;

  font-size: 18px;
  color: hsl(60, 18%, 93%);

  text-decoration: none;
}

a:not(.dropdown-content a) {
  margin-top: 20px;
  text-align: center;

  margin-left: 10%;
}

a:hover {
  color: #b46e06;
}

.hidden {
  display: none;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(3px);
  z-index: 0;
}

@media (max-width: 1280px) {
  .container {
    flex-direction: column;
    /* Change to a column layout */
    align-items: center;
    display: block;

    /* Center-align items vertically */
  }

  .box-2 {
    min-width: 100%;
  }

  .box-1 {
    margin-bottom: 30px;
    width: 100%;
    height: 160px;
    display: inline-block;
  }

  .box-1 button {
    margin-top: 20px;
  }

  .box-4 {
    width: 100%;
  }

  #picSave {
    flex-direction: row;
    min-width: 160px;
  }

  .form2 {
    margin-top: 80px;
    width: 45px;
  }

  .studentInfo {
    display: block;
  }

  .form3 p,
  h3,
  .piclabel {
    width: max-content;
  }

  .piclabel {
    width: max-content;
  }

  /* .box-3 {
        position: absolute;

        top: 100%;

        left: 50%;
        transform: translate(-50%, -50%);

    } */
  .reservedBooks {
    width: 93%;
  }

  .header {
    display: flex;
    justify-content: space-between;
  }

  .bookCover {
    margin-right: 20px;
  }

  .bookInfo {
    display: none;
  }
}
