<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="Cache-Control" features="no-cache, no-store, must-revalidate">
    <meta http-equiv="Expires" features="0">
    <meta http-equiv="Pragma" features="no-cache">
    <meta name="viewport" features="width=device-width, initial-scale=1.0">

    <title>Document</title>




    <style>
        body {
            background-image: linear-gradient(90deg,
                    rgba(56, 166, 199, 0.6),
                    rgb(117, 142, 148));

            font-family: 'Courier New', Courier, monospace;
            animation-name: ani;
            animation-duration: 4s;
        }


        .header {

            padding: 15px;
            display: flex;
            justify-content: space-between;
            /* align-items: center; */
        }

        .header h2 {
            display: inline-block;
            position: absolute;
            top: 25;

            margin-left: 5px;
            margin-top: 30px;
            color: rgb(0, 0, 0);
        }

        #logo {
            border-radius: 50%;
            width: 40px;
            margin-top: 20px;
            margin-left: 40px;
        }


        #avatar {
            align-items: center;
            width: 50px;
            height: 50px;
            border-radius: 50%;
            margin-top: 15px;
            object-fit: cover;
        }



        span {
            margin-top: 0px;
            margin-right: 60px;

            color: black;
        }



        .dropbtn {

            border: none;
            border-radius: 50%;
            cursor: pointer;
            position: relative;
            top: 20px;
        }

        .dropdown {
            position: relative;
            display: inline-block;
        }

        .dropdown-features {
            display: none;
            position: absolute;
            right: 70%;
            /* top: 20px; */
            background-color: #76cfaa;
            min-width: 250px;
            /* border: 2px solid black; */
            border-radius: 20px;
            /* box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2); */
            z-index: 5;
        }

        .dropdown-features a {
            color: rgb(255, 254, 254);
            padding: 12px 16px;
            text-decoration: none;
            display: block;
            font-size: 18px;



        }

        .dropdown-features a:hover {
            color: #504e4e;
        }

        #dbicon {
            width: 20px;

        }

        #dbicon:hover {
            cursor: pointer;
            background-color: #504e4e;
        }

        .active {
            background-color: rgb(221, 199, 127);
            color: white;
        }

        .hidden {
            display: none;
        }

        .overlay {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.6);
            backdrop-filter: blur(3px);
            z-index: 1;

        }

        .topic {

            font-size: 15px;
        }

        .info {
            font-family: 'Courier New', Courier, monospace;
            /* font-size: 25px; */
            color: rgb(5, 64, 78);
            margin-top: 15%;
            margin-left: 10%;
            margin-bottom: 20%;
        }

        .info h2 {
            padding: 10px;
            font-family: 'Courier New', Courier, monospace;
            font-size: 40px;


            color: rgb(82, 103, 219);
        }

        .letsGo {
            border: 1px solid rgb(108, 70, 211);
            width: 20%;
            height: 40px;
            padding: 10px;
            margin-top: 20px;
            margin-bottom: 10px;
            background-color: rgb(108, 70, 211);
        }

        .letsGo:hover {
            cursor: pointer;
            box-shadow: 3px 3px black;

        }

        .shape {
            width: 160px;
            height: 160px;
            border-radius: 40% 40% 50% 50%/30% 40% 50% 50%;
            background-color: rgb(111, 125, 206);
            position: absolute;
            right: 0;
            top: 40.3%;
            margin-right: 20%;

        }

        .username {
            position: absolute;
            right: 0;
            top: 40.3%;
            margin-right: 20%;
        }

        .username p {
            font-size: 30px;
            color: aquamarine;
            margin: 20px 20px;
        }


        .features {
            width: 100%;
            height: 800px;
            /* background-color: #f0e9de; */
            display: flex;
            gap: 4%;
            justify-content: center;

        }

        .results {
            margin-top: 10%;
            margin-left: 40px;
            height: 60%;
            width: 30%;
            border: 2px solid black;
            border-radius: 20px;



        }

        .resultsfeatures {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            padding-top: 20%;
            font-size: 20px;


        }

        .resultsfeatures p {
            text-align: center;
            padding-top: 20px;
            margin-left: 20px;
        }

        .resultsbtn a {

            text-decoration: none;
            font-size: 20px;
            border: 2px solid #222;
            border-radius: 20px;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 20px;

            background-color: rgb(238, 147, 43);



        }

        .resultsbtn p {

            margin: 40px 0;
            color: rgb(17, 16, 16);
        }

        .resultsbtn,
        .libbtn {
            width: 50%;
        }

        .libReserve {
            margin-top: 10%;
            /* margin-right: 40px; */

            height: 60%;
            width: 30%;
            border: 2px solid black;
            border-radius: 20px;
        }

        .libReservefeatures {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            padding-top: 20%;
            font-size: 20px;
        }

        .libReservefeatures p {
            text-align: center;
            padding-top: 20px;
            margin-left: 10px;
            */
        }


        .libbtn a {

            text-decoration: none;
            font-size: 20px;
            border: 2px solid #222;
            border-radius: 20px;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 20px;

            background-color: rgb(238, 147, 43);



        }

        .libbtn p {
            /* padding: 20%; */
            text-align: center;
            margin: 40px 0;
            color: rgb(17, 16, 16);
        }

        /* .blogs {
            margin-top: 10%;
            margin-right: 40px;
            height: 70%;
            width: 30%;
            border: 2px solid black;
            border-radius: 20px;
        } */

        #username {
            font-size: 3rem;
            text-align: center;
            color: rgb(207, 56, 56);
        }

        #message {
            padding-top: 10%;
            font-size: 2rem;
            text-align: center;
            color: rgb(24, 110, 168);
        }

        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        @keyframes ani {

            from {
                bottom: -100px;
                opacity: 0
            }

            to {
                bottom: 0;
                opacity: 1
            }
        }

        @media (max-width:900px) {
            .header {
                display: flex;
                justify-content: space-between;
            }

            .features {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                min-height: 80rem;
                /* min-height: 100%; */
            }

            .results {
                width: 80%;
                /* min-height: 50%; */
            }

            .resultsfeatures,
            .libReservefeatures {
                padding-top: 10%;
            }

            /* #avatar {
                margin-left: 30%;
            }

            #dbicon {
                width: 20px;
                margin-left: 65%;
              
            } */



            .libReserve {
                width: 80%;
                margin-left: 40px;
                /* height: 70%; */
            }



            .blogs {
                min-width: 80%;
                margin-bottom: 10%;
                margin-left: 80px;
                /* height: 70%; */
            }

            .username,
            .shape {
                display: none;
            }
        }
    </style>
</head>

<body>
    <div class="header">
        <div class="logo">
            <img src="ambedkar-university-sklm.jpg" id="logo">
            <h2>Dr Brau</h2>
        </div>
        <!-- <div id="line"></div> -->
        <div class="dropdown">
            <% if (profilePicData) { %>
                <img src="data:<%= profilePicMimeType %>;base64,<%= profilePicData.toString('base64') %>" id="avatar"
                    alt="profile pic">
                <% } else { %>
                    <img src="avatar.jpg" id="avatar" alt="">
                    <% } %>

                        <i style="width:30px; margin-right: 47px;" class="dropdown-btn">
                            <span><img src="dropdown5.jpg" alt="dropDownbtn" id="dbicon"></span>
                        </i>

                        <div class="dropdown-features">
                            <a href="/settings" class="settings">⚙ Platform settings</a>
                            <a href="/logout">↩ Sign Out</a>

                        </div>
        </div>
    </div>
    <div class="overlay hidden"></div>

    <div class="info">




        <p class="topic">Student Zone</p>

        <h2>Explore & excel <br>Results|Library|Blogs </h2>
        <br>
        <p>Access your <strong>semester results</strong>,</p>
        <br>
        <p><b>Reserve</b> your favorite <strong>library books</strong>,
            and</p>
        <br>
        <p>Share your thoughts through our vibrant <strong>blog space</strong>.</p>

        <button class="letsGo">Let's Go</button>

        <p>Click here to view features..</p>


        . <div class="shape">

        </div>
        <div class="username">
            <h2>welcome</h2>
            <p>
                <%= username%>
            </p>
        </div>

    </div>

    <div class="features">
        <h2>Features:</h2>
        <div class="results">

            <article class="resultsfeatures">
                <div class="resultsPics"> <img src="results.jpg" class="resultsimg1" alt="">
                    <img src="results1.jpg" class="resultsimg2" alt="">
                </div>

                <div class="resultsHeader">
                    <p style="color:rgb(14, 11, 11)">You can view results of every semester here......</p>
                </div>

                <div class="resultsbtn">
                    <p>Click here to view results</p>
                    <a href="/results">View Results</a>
                </div>

            </article>
        </div>
        <div class="libReserve">
            <article class="libReservefeatures">
                <div> <img src="lib1.jpg" class="libimg1" alt="">
                    <img src="lib.jpg" class="libimg2" alt="">

                </div>

                <div class="libHeader">
                    <p style="color:rgb(14, 11, 11)">You can reserve library books here......</p>
                </div>

                <div class="libbtn">
                    <p>Click here to reserve a book</p>
                    <a href="/libBookReservation">Reserve Books</a>
                </div>
            </article>
        </div>
        <div class="blogs"></div>
    </div>


    <script>

        const dropdownbtn = document.querySelector(".dropdown-btn")
        const overlay = document.querySelector(".overlay")

        let dropdown = document.getElementsByClassName("dropdown-btn");
        let i;

        for (i = 0; i < dropdown.length; i++) {
            dropdown[i].addEventListener("click", function () {
                // this.classList.toggle("active");
                var dropdownfeatures = this.nextElementSibling;
                if (dropdownfeatures.style.display === "block") {
                    dropdownfeatures.style.display = "none";
                } else {
                    dropdownfeatures.style.display = "block";
                }
            });
        }

        dropdownbtn.addEventListener("click", () => {
            console.log(dropdownbtn);
            overlay.classList.remove("hidden");
        })




        overlay.addEventListener("click", () => {
            console.log("clicked");
            document.querySelector(".dropdown-features").style.display = "none";

            overlay.classList.add("hidden");
        })

        const lestGobtn = document.querySelector(".letsGo")
        const featuresSection = document.querySelector(".features")
        lestGobtn.addEventListener("click", () => {
            const scrollTo = featuresSection.getBoundingClientRect();

            featuresSection.scrollIntoView({
                behavior: "smooth", inline: "center"
            })
        })


    </script>

</body>

</html>