<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">
    <meta http-equiv="Expires" content="0">
    <meta http-equiv="Pragma" content="no-cache">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Document</title>




    <style>
        body {
            background-image: linear-gradient(90deg,
                    rgb(180, 167, 141) 20%,
                    rgb(119, 95, 95));
            margin: 0;
            padding: 0;
        }

        .header {
            width: 100%;
            /* max-width: 200%; */
            height: 80px;
            background-color: #f8fafa;
            display: flex;
            align-items: right;

            justify-content: space-between;
            /* margin-bottom: 50px; */
            border-radius: 20px;
            position: relative;
        }

        #logo {
            width: 70px;
            height: 70px;
            margin: 2px 2px;
            margin-left: 70%;
            border-radius: 50px;
            position: relative;
            left: 2%;
            top: 1.2%;
        }


        #avatar {
            align-items: center;
            width: 50px;
            height: 50px;
            border-radius: 50%;
            margin-top: 15px;
            object-fit: cover;
        }



        span {
            margin-top: 0px;
            margin-right: 60px;

            color: black;
        }

        /* .navbar a {
            float: left;

            color: black;
            text-align: center;
            padding: 14px 20px;
            text-decoration: none;
        }

        .navbar :hover {
            background-color: aliceblue;
            color: black;
            text-decoration: none;
            border-radius: 10px;

        } */

        /* 
        #line {
            display: flex;
            border-left: 2px solid #e06907;
            height: 40px;
            align-items: center;

            margin: 1% 0% 4% 0%;
        } */


        .dropbtn {

            border: none;
            cursor: pointer;
        }

        .dropdown {
            position: relative;
            display: inline-block;
        }

        .dropdown-content {
            display: none;
            position: absolute;
            right: 70%;
            background-color: #d8a371;
            min-width: 250px;
            /* border: 2px solid black; */
            border-radius: 20px;
            /* box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2); */
            z-index: 1;
        }

        .dropdown-content a {
            color: rgb(255, 254, 254);
            padding: 12px 16px;
            text-decoration: none;
            display: block;
            font-size: 18px;



        }

        .dropdown-content a:hover {
            color: #504e4e;
        }

        .active {
            background-color: rgb(221, 199, 127);
            color: white;
        }

        .hidden {
            display: none;
        }

        .overlay {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.6);
            backdrop-filter: blur(3px);
            z-index: 0;

        }

        .hello {
            color: #f8edd9;
            font-size: 5em;
            text-align: center;
            filter: drop-shadow(0 0 10px #e0b2a9e6);
            padding-top: 60px;
        }

        .welcome {
            padding: 0;
            width: 100%;
            height: 40rem;
            background-color: #110c03;


        }

        .content {
            width: 100%;
            height: 800px;
            background-color: #f0e9de;
            display: flex;
            gap: 4%;
            justify-content: space-between;

        }

        .results {
            margin-top: 10%;
            margin-left: 40px;
            height: 70%;
            width: 30%;
            border: 2px solid black;
            border-radius: 20px;



        }

        .resultsContent {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            padding-top: 30%;
            font-size: 20px;


        }

        .resultsContent p {
            padding-top: 20px;
            margin-left: 10px;
        }

        .resultsbtn a {

            text-decoration: none;
            font-size: 20px;
            border: 2px solid #222;
            border-radius: 20px;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 20px;

            background-color: rgb(238, 147, 43);



        }

        .resultsbtn p {
            padding-top: 40%;
            color: rgb(221, 96, 87);
        }

        .libReserve {
            margin-top: 10%;
            /* margin-right: 40px; */

            height: 70%;
            width: 30%;
            border: 2px solid black;
            border-radius: 20px;
        }

        .libReserveContent {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            padding-top: 30%;
            font-size: 20px;
        }

        .libReserveContent p {
            padding-top: 20px;
            margin-left: 10px;
        }

        .libbtn a {

            text-decoration: none;
            font-size: 20px;
            border: 2px solid #222;
            border-radius: 20px;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 20px;

            background-color: rgb(238, 147, 43);



        }

        .libbtn p {
            padding-top: 36%;
            color: rgb(221, 96, 87);
        }

        .blogs {
            margin-top: 10%;
            margin-right: 40px;
            height: 70%;
            width: 30%;
            border: 2px solid black;
            border-radius: 20px;
        }

        #username {
            font-size: 3rem;
            text-align: center;
            color: rgb(207, 56, 56);
        }

        #message {
            padding-top: 10%;
            font-size: 2rem;
            text-align: center;
            color: rgb(24, 110, 168);
        }

        body {
            margin: 0;
            padding: 0;
            box-sizing: auto;
        }

        @media (max-width:74rem) {
            .header {
                display: flex;
                justify-content: space-between;
            }

            .content {
                flex-direction: column;
                justify-content: center;
                align-items: center;
                min-height: 130rem;
                /* min-height: 100%; */
            }

            .results {
                min-width: 50%;
                /* min-height: 50%; */
            }




            .libReserve {
                min-width: 50%;
                margin-left: 40px;
                /* height: 70%; */
            }



            .blogs {
                min-width: 50%;
                margin-bottom: 10%;
                margin-left: 80px;
                /* height: 70%; */
            }
        }
    </style>
</head>

<body>
    <div class="header">
        <div>
            <a href="/dashBoard"> <img id="logo" src="ambedkar-university-sklm.jpg">
            </a>
        </div>
        <!-- <div id="line"></div> -->
        <div class="dropdown">
            <% if (profilePicData) { %>
                <img src="data:<%= profilePicMimeType %>;base64,<%= profilePicData.toString('base64') %>" id="avatar"
                    alt="profile pic">
                <% } else { %>
                    <img src="avatar.jpg" id="avatar" alt="">
                    <% } %>

                        <button style="width:30px; margin-right: 47px;" class="dropdown-btn">
                            <span>🔻 </span>
                        </button>

                        <div class="dropdown-content">
                            <a href="/settings" class="settings">⚙ Platform settings</a>
                            <a href="/logout">↩ Sign Out</a>

                        </div>
        </div>
    </div>
    <div class="overlay hidden"></div>
    <div class="welcome">
        <h1 class="hello">HELLO!

        </h1>
        <h2 id="username">
            <%= username%>
        </h2>
        <h2 id="message">Welcome Back ....<br>here you again have a nice day...</h2>
    </div>
    <div class="content">
        <div class="results">

            <article class="resultsContent">
                <div class="resultsPics"> <img src="results.jpg" class="resultsimg1" alt="">
                    <img src="results1.jpg" class="resultsimg2" alt="">
                </div>

                <div class="resultsHeader">
                    <p style="color:rgb(14, 11, 11)">You can view results of every semester here......</p>
                </div>

                <div class="resultsbtn">
                    <p>Click here to view results</p>
                    <a href="/results">View Results</a>
                </div>

            </article>
        </div>
        <div class="libReserve">
            <article class="libReserveContent">
                <div> <img src="lib1.jpg" class="libimg1" alt="">
                    <img src="lib.jpg" class="libimg2" alt="">

                </div>

                <div class="libHeader">
                    <p style="color:rgb(14, 11, 11)">You can reserve library books here......</p>
                </div>

                <div class="libbtn">
                    <p>Click here to reserve a book</p>
                    <a href="/libBookReservation">Reserve Books</a>
                </div>
            </article>
        </div>
        <div class="blogs"></div>
    </div>


    <script>

        const dropdownbtn = document.querySelector(".dropdown-btn")
        const overlay = document.querySelector(".overlay")

        let dropdown = document.getElementsByClassName("dropdown-btn");
        let i;

        for (i = 0; i < dropdown.length; i++) {
            dropdown[i].addEventListener("click", function () {
                this.classList.toggle("active");
                var dropdownContent = this.nextElementSibling;
                if (dropdownContent.style.display === "block") {
                    dropdownContent.style.display = "none";
                } else {
                    dropdownContent.style.display = "block";
                }
            });
        }

        dropdownbtn.addEventListener("click", () => {
            console.log(dropdownbtn);
            overlay.classList.remove("hidden");
        })




        overlay.addEventListener("click", () => {
            console.log("clicked");
            document.querySelector(".dropdown-content").style.display = "none";

            overlay.classList.add("hidden");
        })


    </script>

</body>

</html>