<html lang="en">

<head>
  <title>results</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <style>
    body {
      font-family: Arial, Helvetica, sans-serif;
      /* margin: 10px; */
    }

    body {
      background-image: linear-gradient(90deg,
          rgb(102, 90, 67) 20%,
          rgb(119, 95, 95));
      /* background: linear-gradient(#5e5e5e 85%, #45454f 100%); */
    }



    #logo {
      width: 120px;
      height: 120px;
      margin: 10px 2px;
      border-radius: 60px;
      position: absolute;
      left: 2%;
      top: 1.2%;
    }

    body {
      font-family: inherit;
    }

    header {
      background-image: linear-gradient(90deg,
          rgb(226, 199, 149) 20%,
          rgb(119, 95, 95));
      padding: 10px;
      border-radius: 10px;
    }


    /* Style the header */
    /* .header {
      padding: 5px;
      text-align: center;
      background: #FFFFC2;
      color: #F4A460;
    } */

    /* header {
      width: 100%;
      height: 75px;
      background-color: #f8fafa;
      display: flex;

      justify-content: space-between;
      margin-bottom: 50px;
      border-radius: 20px;
    } */

    /* Increase the font size of the h1 element */
    .header h1,
    h2 {

      font-size: 20px;
      text-align: center;
    }

    .header p {
      font-size: 20px;
      text-align: center;
    }

    .navbar {
      /* overflow: hidden; */
      display: flex;
      justify-content: right;
      gap: 2%
    }

    /* Style the navigation bar links */
    .navbar a {
      float: left;
      font-size: 20px;
      color: rgb(17, 3, 1);
      text-align: center;
      padding: 14px 20px;
      /* border-right: 1px solid black; */
      /* border-top: 1px solid black; */
      text-decoration: none;

      border-radius: 10px;
      background-color: rgb(240, 232, 214);
    }

    .navbar :hover :not(.signUpbtn) {
      /* background-color: aliceblue; */
      color: black;
      text-decoration: none;
      border-radius: 10px;
      border-color: #ae6262;

    }

    .welcome {
      background-color:
        rgb(14, 13, 13);
      /* background-color: #2c2525; */
      width: 100%;
      height: 70%;

      place-items: center;
    }

    .welcome picture {
      position: relative;
      display: flex;
      justify-content: space-evenly;
      top: 60%
    }



    .content {
      width: 100%;
      height: 800px;
      background-color: #f0e9de;
      display: flex;
      gap: 4%;
      justify-content: space-between;

    }

    .results {
      margin-top: 10%;
      margin-left: 40px;
      height: 70%;
      width: 30%;
      border: 2px solid black;
      border-radius: 20px;
      animation: boxAnim 2s ease-in-out 0s 2 normal forwards;



    }

    .resultsContent {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding-top: 30%;
      font-size: 20px;


    }

    .resultsContent p {
      padding-top: 20px;
      margin-left: 10px;
    }

    .resultsbtn a {

      text-decoration: none;
      font-size: 20px;
      border: 2px solid #222;
      border-radius: 20px;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 20px;

      background-color: rgb(238, 147, 43);



    }

    .resultsbtn p {
      padding-top: 40%;
      color: rgb(221, 96, 87);
      position: relative;
    }

    .libReserve {
      margin-top: 10%;
      /* margin-right: 40px; */

      height: 70%;
      width: 30%;
      border: 2px solid black;
      border-radius: 20px;
      animation: boxAnim 2s ease-in-out 0s 2 normal forwards;
    }

    .libReserveContent {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding-top: 30%;
      font-size: 20px;
    }

    .libReserveContent p {
      padding-top: 20px;
      margin-left: 10px;
    }

    .libbtn a {

      text-decoration: none;
      font-size: 20px;
      border: 2px solid #222;
      border-radius: 20px;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 20px;

      background-color: rgb(238, 147, 43);



    }

    .libbtn p {
      padding-top: 36%;
      color: rgb(221, 96, 87);
    }

    .blogs {
      margin-top: 10%;
      margin-right: 40px;
      height: 70%;
      width: 30%;
      border: 2px solid black;
      border-radius: 20px;
      animation: boxAnim 2s ease-in-out 0s 2 normal forwards;

    }

    @keyframes boxAnim {
      0% {
        transform: scale(0.5);
      }

      100% {
        transform: scale(1);
      }
    }


    .signUpbtn {
      margin-left: 20px;
      color: #ae6262;
    }

    .signUpbtn a {
      color: #ae6262;
    }

    .signUpbtn:hover {
      border-radius: 16px;
      border: 5px #ee501fc4;
    }

    body,
    html {
      height: 100%;
      margin: 0;
      padding: 0;
    }

    #logintxt:hover {
      color: #ae6262;
    }


    .footer {
      padding: 10px;
      text-align: center;
      background-image: linear-gradient(90deg,
          rgb(119, 105, 79) 20%,
          rgb(119, 95, 95));
      position: relative;
      /* margin-top: 415px; */
    }

    /* Responsive layout - when the screen is less than 700px wide, make the two columns stack on top of each other instead of next to each other */
    @media (max-width: 900px) {


      .content {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        min-height: 130rem;
        /* min-height: 100%; */
      }

      .results {
        min-width: 50%;
        /* min-height: 50%; */
      }




      .libReserve {
        min-width: 50%;
        margin-left: 40px;
        /* height: 70%; */
      }



      .blogs {
        min-width: 50%;
        margin-bottom: 10%;
        margin-left: 80px;
        /* height: 70%; */
      }

    }
  </style>
</head>

<body>


  <header>
    <div class="header">
      <img src="ambedkar-university-sklm.jpg" id="logo">
      <h1>Dr.B.R Ambedkar University</h1>
      <h2>Student Area</h2>
      <p>College of Engineering.</p>
    </div>
  </header>
  <div class="navbar">
    <div class="signInbtn"> <a href="/login" id="signin"><span id="logintxt"> Log In</span></a></div>
    <div class="signUpbtn"><a href="/signup" id="signup"><span>Sign Up</span></a>
    </div>
  </div>

  <div class="welcome">


  </div>

  <div class="content">
    <div class="results">

      <article class="resultsContent">
        <div class="resultsPics"> <img src="results.jpg" class="resultsimg1" alt="">
          <img src="results1.jpg" class="resultsimg2" alt="">
        </div>

        <div class="resultsHeader">
          <p style="color:rgb(14, 11, 11)">You can view results of every semester here......</p>
        </div>

        <div class="resultsbtn">
          <p>Click here to view results</p>
          <a href="/results">View Results</a>
        </div>

      </article>
    </div>
    <div class="libReserve">
      <article class="libReserveContent">
        <div> <img src="lib1.jpg" class="libimg1" alt="">
          <img src="lib.jpg" class="libimg2" alt="">

        </div>

        <div class="libHeader">
          <p style="color:rgb(14, 11, 11)">You can reserve library books here......</p>
        </div>

        <div class="libbtn">
          <p>Click here to reserve a book</p>
          <a href="/signup">Reserve Books</a>
        </div>
      </article>
    </div>
    <div class="blogs"></div>
  </div>
  <a href="/uploadResults">upload</a>

  <!-- </div> -->


  <footer>
    <div class="footer">
      <h3>copyright@Dr.B.R Ambedkar University,Srikakulam</h3>
      <h4>Designed and developed by BVR</h4>
    </div>
  </footer>
  <script>
    window.addEventListener("popstate", event => {
      location.reload();
    })
    // history.go(-1);
    // location.reload("/public/dashBoard.ejs");

  </script>

</body>

</html>