<html lang="en">

<head>

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>results</title>
  <link rel="stylesheet" href="/public/css/index.css">


  <style>
    *,
    *::after,
    *::before {
      box-sizing: border-box;
    }

    * {
      margin: 0;
      padding: 0;
    }

    body {
      background-image: linear-gradient(180deg,
          rgba(56, 166, 199, 0.6),
          rgb(117, 142, 148));
    }

    #logo {
      border-radius: 50%;
      width: 40px;
      margin-top: 20px;
      margin-left: 40px;



    }

    .header {

      /* margin-top: 20px; */
      /* padding: 60px; */
      /* margin-left: 30px; */

      font-family: 'Courier New', Courier, monospace;
      font-size: 20px;

    }

    .header h2 {
      display: inline;
      position: absolute;
      top: 25;
      margin-left: 5px;
      color: rgb(0, 0, 0);
    }


    .topic {

      font-size: 15px;
    }

    .info {
      font-family: 'Courier New', Courier, monospace;
      /* font-size: 25px; */
      color: rgb(5, 64, 78);
      margin-top: 15%;
      margin-left: 10%;
    }

    .info h2 {
      padding: 10px;
      font-family: 'Courier New', Courier, monospace;
      font-size: 40px;


      color: rgb(82, 103, 219);
    }

    .info h3 {
      margin: 20px;
      color: rgb(82, 103, 219);
      font-size: 20px;
    }



    .login {
      display: flex;
      /* justify-content: center; */
      margin-top: 40px;
      margin-left: 10%;
      margin-bottom: 15%;
    }

    .login .signInbtn {
      width: 20%;
      text-align: center;
      font-size: 20px;

      border: 1px solid rgb(108, 70, 211);
      padding: 10px;
      background-color: rgb(130, 164, 207);
    }


    .login a {
      text-decoration: none;
      color: white;
    }


    .container:not(.features) {
      width: 100%;
      height: 800px;
      /* background-color: #f0e9de; */
      display: flex;
      gap: 4%;
      justify-content: space-between;
      border-top: 1px solid black;
    }


    .results {
      margin-top: 10%;
      margin-left: 40px;
      height: 70%;
      width: 30%;
      border: 2px solid black;
      border-radius: 20px;
      animation: boxAnim 2s ease-in-out 0s 2 normal forwards;



    }

    .resultsContent {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding-top: 20%;
      font-size: 20px;


    }

    .resultsContent p {
      padding-top: 20px;
      margin-left: 10px;
    }

    .resultsbtn a {

      text-decoration: none;
      font-size: 20px;
      border: 2px solid #222;
      border-radius: 20px;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 20px;

      background-color: rgb(238, 147, 43);



    }

    .resultsbtn p {
      margin: 60px 20px;
      position: relative;
    }

    .libReserve {
      margin-top: 10%;
      /* margin-right: 40px; */

      height: 70%;
      width: 30%;
      border: 2px solid black;
      border-radius: 20px;
      animation: boxAnim 2s ease-in-out 0s 2 normal forwards;
    }

    .libReserveContent {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding-top: 20%;
      font-size: 20px;
    }

    .libReserveContent p {
      padding-top: 20px;
      margin-left: 10px;
    }

    .libbtn a {

      text-decoration: none;
      font-size: 20px;
      border: 2px solid #222;
      border-radius: 20px;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 20px;

      background-color: rgb(238, 147, 43);



    }

    .libbtn p {
      margin: 60px 20px;
      color: rgb(2, 2, 2);
    }

    .blogs {
      margin-top: 10%;
      margin-right: 40px;
      height: 70%;
      width: 30%;
      border: 2px solid black;
      border-radius: 20px;
      animation: boxAnim 2s ease-in-out 0s 2 normal forwards;
      text-align: center;

    }




    .blogbtn {
      margin-top: 60%;
      font-size: 20px;
      border: 2px solid #222;
      border-radius: 20px;

      padding: 20px;

      background-color: rgb(238, 147, 43);

    }

    .major {
      color: rgb(196, 60, 60);
      font-size: 40px;
      margin-top: 60%;
    }

    .hidden {
      display: none;
    }

    .footer {
      padding: 10px;
      text-align: center;
      background-color: rgb(125, 157, 175);
      position: relative;
    }

    @media (max-width:920px) {


      .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-self: center;
        min-height: 130rem;
        /* min-height: 100%; */
      }

      .results {
        width: 80%;
      }




      .libReserve {
        width: 80%;
        margin-left: 40px;
        /* height: 70%; */
      }



      .blogs {
        width: 80%;
        margin-bottom: 10%;
        margin-left: 40px;
        /* height: 70%; */
      }





    }
  </style>

</head>

<body>

  <!-- headers -->

  <div class="header">
    <img src="ambedkar-university-sklm.jpg" id="logo">
    <h2>Dr Brau</h2>



  </div>

  <div class="info">

    <div class="shape">

    </div>

    <p class="topic">Your Academic Space</p>

    <h2>Navigate your success <br> story with ease</h2>
    <br>
    <p><b>Students</b>, check your grades and reserve library books effortlessly</p>
    <br>
    <p><b>Faculty</b>, manage results and guide students with ease</p>
    <br>
    <p> This is where learning meets convenience for both students and educators</p>
    <h3> Welcome to your dedicated academic portal</h3>
  </div>

  <div class="login">
    <a class="signInbtn" href="/login" id="signin">Login</a>


  </div>

  <div class="welcome">


  </div>

  <div class="container">

    <!-- <div class="features">
      <h2>Insights Center:</h2>
      <P>Results, Reservations, Blogs</P>

    </div> -->
    <div class="results">

      <article class="resultsContent">
        <div class="resultsPics"> <img src="results.jpg" class="resultsimg1" alt="">
          <img src="results1.jpg" class="resultsimg2" alt="">
        </div>

        <div class="resultsHeader">
          <p style="color:rgb(14, 11, 11)">You can view results of every semester here......</p>
        </div>

        <div class="resultsbtn">
          <p>Click here to view results</p>
          <a href="/results">View Results</a>
        </div>

      </article>
    </div>
    <div class="libReserve">
      <article class="libReserveContent">
        <div> <img src="lib1.jpg" class="libimg1" alt="">
          <img src="lib.jpg" class="libimg2" alt="">

        </div>

        <div class="libHeader">
          <p style="color:rgb(14, 11, 11)">You can reserve library books here......</p>
        </div>

        <div class="libbtn">
          <p>Click here to reserve a book</p>
          <a href="/login">Reserve Books</a>
        </div>
      </article>
    </div>
    <div class="blogs">


      <button class="blogbtn">Blogs</button>
      <h2 class="major hidden"> majaor work</h2>
    </div>
  </div>


  <!-- </div> -->


  <footer>
    <div class="footer">
      <h3>copyright@Dr.B.R Ambedkar University,Srikakulam</h3>
      <h4>Designed and developed by BVR</h4>
    </div>
  </footer>
  <script>
    window.addEventListener("popstate", event => {
      location.reload();
    })
    // history.go(-1);
    // location.reload("/public/dashBoard.ejs");
    const blogsbtn = document.querySelector(".blogbtn")
    const major = document.querySelector(".major")

    blogsbtn.addEventListener("click", () => {

      major.classList.remove("hidden")
      blogsbtn.classList.add("hidden")
    })
  </script>

</body>

</html>