<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>identity verification</title>
    <style>
        body {
            margin-top: 10%;
            background-image: linear-gradient(90deg,
                    rgba(56, 166, 199, 0.6),
                    rgb(117, 142, 148));
        }

        .msg {
            margin-left: 40%;
            margin-bottom: 10px;
            text-align: center;
            width: max-content;
            height: 20px;
            border: 1px solid black;
            background-color: #4cbbbb;
            border-radius: 20px;
            padding: 40px;
        }

        .hidden {
            display: none;
        }

        .container {
            width: 40%;
            max-width: 80%;
            margin: auto;
            border-radius: 20px;
            background-color: #91c7b9;
            padding: 40px;
            height: 100%;
            opacity: 0.9;

            filter: drop-shadow(0 0 10px #555345e6);

        }

        .container h2 {
            color: rgb(82, 103, 219);
        }

        .hidden {
            display: none;
        }

        button {
            display: block;
            /* margin: 20px 12px 12px 0px; */
            width: max-content;
            /* height: 30px; */
            background-color: #4cbbbb;
            border-radius: 20px;
            border: none;
            text-align: center;
            padding: 20px;
            font-size: 20px;

        }

        button:hover {
            cursor: pointer;
            background-color: white;
        }


        label {
            color: black;
            display: block;
            margin: auto;
            margin-top: 10px;

        }

        input {
            display: block;
            margin: 20px 12px 12px 0px;
            width: 100%;
            height: 30px;
            background-color: #f0f3f3;
            border-radius: 20px;
            border: none;
            padding: 10px;
        }

        span {
            font-size: small;
            padding: 10px 10px;
            color: red;
        }

        @media (max-width: 900px) {

            .container {

                width: 80%;
            }



        }
    </style>
</head>

<body>
    <!-- <div class="msg hidden">
        Account Created successfully.
    </div> -->
    <div class="container">
        <h2>Create password to access our features..</h2>

        <div class="acctVerify">
            <form action="/studentacctVerify" method='post' id="form1">

                <div class="id">
                    <label for="studentId">Enter student Id:</label>
                    <input type="text" id="studentId" name="studentId" required>
                </div>

                <button id="verifyAcct">Verify Account</button>
            </form>
        </div>

        <div class="generateOtp hidden">
            <form action="/studentgenerateOTP" method="post" id="form2">

                <div class="emailid">

                    <label for="emailid">Enter college provided email Id:</label>

                    <span>example:20819510**@brau.edu.in</span>
                    <input type="email" id="emailid" name="emailid" required>
                    <Button class="generateotpBtn">generate otp</Button>
                </div>
            </form>
        </div>
        <div class="verifyotp hidden">
            <form action="/studentotp" method="post" id="form2">



                <label for="verifyotp">
                    verify Otp

                    <input type="integer" id="verifyotp" name="verifyotp" min="6" required>
                    <Button class="verifyotpBtn">verify otp</Button>
        </div>
        </form>
    </div>

    </div>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

    <script>

        const form1 = document.getElementById("form1")
        const form2 = document.querySelector("#form2")
        const form3 = document.querySelector("#form3")
        const verifyAcctBtn = document.querySelector("#verifyAcct")
        const verifyOtpBtn = document.querySelector("#verifyOtp")
        const verifyAccount = document.querySelector(".acctVerify")
        const generateOtp = document.querySelector(".generateOtp")
        const generateOtpBtn = document.querySelector(".generateotpBtn")
        const verifyotpBtn = document.querySelector(".verifyotpBtn")
        const verifyotp = document.querySelector(".verifyotp")
        const otp = document.querySelector(".otp")


        // form1.addEventListener("submit", async (e) => {
        //     e.preventDefault();

        //     const formData = new FormData(form1)
        //     console.log(formData)
        //     await axios.post("/facultyacctVerify", formData).then(response => {
        //         console.log(response.data)
        //         generateOtpBtn.classList.remove("hidden");
        //         verifyAccount.classList.add("hidden")

        //     })


        // })
        verifyAcctBtn.addEventListener('click', () => {
            verifyAccount.classList.add("hidden")
            generateOtp.classList.remove("hidden")

        })
        generateOtpBtn.addEventListener("click", () => {
            generateOtp.classList.add("hidden")
            verifyotp.classList.remove("hidden")


        })





    </script>
</body>

</html>