<html>

<head>
    <title>UploadResults</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        .header {
            padding: 5px;
            text-align: center;
            background: #FFFFC2;
            color: #F4A460;


        }


        /* Increase the font size of the h1 element */
        .header h1 {
            font-size: 30px;
        }

        .header p {
            font-size: 20px;
        }

        .inner_divs {
            margin-left: 20%;

        }



        .fileUpload {
            /* background-color: #686766; */
            width: 50%;
            display: grid;
            justify-content: center;
            position: absolute;
            left: 25%;
            margin-top: 10%;


        }

        h1 {
            text-align: center;
        }


        button {
            margin-top: 10px;
            width: 100px;

        }
    </style>
</head>

<body>

    <div class="header">
        <img src="/public/imgs/ambedkar-university-sklm.jpg" style="float:center;width:72px;height:42px;">
        <h1>Dr.B.R Ambedkar University,Srikakulam</h1>
        <p>College of Engineering.</p>
        <p>Btech V Sem Results</p>
    </div>


    <!-- <form action="/addResults" method="POST" class="details_form" id="details_form">
        <div class="main_div" align="center">
            <div class="inner_divs" align="left">
                <h3 style="text-align: center;">Student Details</h3>
                <label for="Registration number">Registration number:</label>
                <input type="integer" id="Registration Number" name="RegistrationNumber" class="results"><br><br>
                <label for="fname"> Student Name:</label>
                <input type="text" id="fname" name="StudentName"><br><br>
                <label for="semNo"> Sem No:</label>
                <input type="integer" id="semNo" name="semNo"><br><br>
                <label for="sgpa:">SGPA:</label>
                <input type="integer" id="sgpa" name="sgpa"><br><br>
            </div>
            <div class="inner_divs" align="left">
                <h3 style="text-align: center;">Marks Details</h3>
                <label for="compiler design">compiler design:</label>
                <input type="integer" id="compiler design" name="for" min="0" max="1000" step="0.01"><br><br>
                <label for="Data Analytics:">Data Analytics:</label>
                <input type="integer" id="Data Analytics:" name="cs2" min="0" max="1000" step="0.01"><br><br>
                <label for="Artificial Intelligence:">Artificial Intelligence:</label>
                <input type="integer" id="Artificial Intelligence:" name="cs3" min="0" max="1000" step="0.01"><br><br>
                <label for="Cryptography and Network Security">Cryptography and Network Security:</label>
                <input type="integer" id="Cryptography and Network Security" name="cs4" min="0" max="1000"
                    step="0.01"><br><br>
                <label for="Introdution to python Programming:">Introdution to python Programming</label>
                <input type="integer" id="Introdution to python Programming" name="cs5" min="0" max="1000"
                    step="0.01"><br><br>

            </div>

            <button class="submit">Submit</button>
        </div>
    </form> -->
    <!-- <h1>(OR)</h1> -->
    <form action="/upload" method="POST" enctype="multipart/form-data" class="fileUpload">

        <h3>Upload Results Data</h3>
        <label for="resultsFileUpload">Upload File<input type="file" name="myfile1" id="resultsFileUpload"></label>
        <button>Upload</button>
    </form>
    <!-- <script>
        document.getElementById('details_form').addEventListener('submit', (event) => {

            document.location.assign(window.location.href)
            alert("Successfully submited")
        })
    </script> -->
</body>

</html>